/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* في ملف styles.css */
html {
  scroll-behavior: smooth; /* عشان السكرول يكون ناعم */
  scroll-padding-top: 80px; /* عشان النافبار ميبقاش مغطي السكشن لما يوصل */
}
@keyframes slideIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-skill-card {
  animation: slideIn 0.8s ease-out forwards;
  opacity: 0; /* يبدأ مخفي */
}